/* universal tag */
*{
    font-family: 'Teko', sans-serif;
    box-sizing: border-box !important;
    margin:0;
    
}
/* h1 styling */
h1{
   margin-left: 39%;
   color: white;
   font-size: 70px;
   margin-top: 5%;
   
   
   
}
/* divs styling */
#wrapper{
    width:100%;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    margin: bottom 15px;
}
/* main div styling */
.main{
    padding: 20px;
    border: transparent 1px rgb(255, 255, 255);
    margin:30px;
    border-radius: 20px;
    box-shadow: 0 0 20px 0 ;
    background: linear-gradien (slateblue);  
    opacity:0.7;
}

/* hover effects */
.main:hover{
    box-shadow: 0 0 20px 0  whitesmoke;
}
/* pictures styles */
img{
    object-fit: contain;
    margin-top: 10px;
    object-fit:cover; 
    border-radius: 10px;
    height: 200px;
    width: 100%;
    border-radius: 50%;
}
/* title of recipes */
.title {
    font-size: 24px;
    color:black;
    font-weight: bold;
        
}
/* body tag */
body{
    background: teal;
  }

  /* the flame  */
.container{
    margin:80px auto;
    width: 60px;
    height: 60px;
    position:relative;
    transform-origin:center bottom;
    animation-name: flicker;
    animation-duration:3ms;
    animation-delay:200ms;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
  
.flame{
    bottom:0;
    position:absolute;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-top-left-radius: 50%;
    transform:rotate(-45deg) scale(1.5,1.5);
}
  
/*.item-1{
    left:15px; 
    width: 30px;
    height: 30px;
    
    box-shadow: 0px 0px 9px 4px ;
  }
  
.item-2{
    left:10px; 
    width: 40px;
    height: 40px;
   
    box-shadow: 0px 0px 9px 4px ;
}
  
.item-3{
    left:5px;
    width: 50px;
    height: 50px;
   
    box-shadow: 0px 0px 5px 4px ;
}
  
.item-4{
    left:15px; 
    bottom:-4px;
    width: 30px;
    height: 30px;
   
    box-shadow: 0px 0px 9px 4px;
}
  
.circle{
    border-radius: 50%;
    position:absolute;  
}
  
.item-5{
    width: 10px;
    height: 10px;
    left:25px;
    bottom:-25px; 
  
    box-shadow: 0px 0px 15px 10px ;
}
  
.item-6{
    width: 40px;
    height: 40px;
    left:10px;
    bottom:-60px;  
   
    
}*/
  
/*@keyframes flicker{
    0%   {transform: rotate(-1deg);}
    20%  {transform: rotate(1deg);}
    40%  {transform: rotate(-1deg);}
    60%  {transform: rotate(1deg) scaleY(1.04);}
    80%  {transform: rotate(-2deg) scaleY(0.92);}
    100% {transform: rotate(1deg);}
}*/
         /* button styles */
.btn{
    padding: 10px 25px;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 30px;
    text-shadow: 1px 1px steelblue;
    border:transparent;
    background: linear-gradient(white,slateblue);
    box-shadow:0 0 15px 0 ;

}
/* button hover */
.btn:hover{
    box-shadow: 0 0 10px 0 black;


}